body {
    background-image: url('https://venngage-wordpress.s3.amazonaws.com/uploads/2018/11/15-Presentation-Background-Examples1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #9ea0a3;
    color: aliceblue;
}
header {
    display: flex;
    flex-direction: column;
}
#mainIMG {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
header h1 {
    margin: auto;
    font-size: 1.5rem;
    color: #000000;
}
header nav {
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
    gap: 60rem;
    align-items: center;
}
h2 {
    text-align: center;
    text-decoration: underline;
    justify-content: center;
    display: flex;
    font-size: 1.25rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
}
#nav-links {
    padding-top: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: auto;
}
#nav-links a {
    margin: auto;
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    text-align: center;
}
#nav-links a:hover {
    text-decoration: underline; /* Add underline on hover */
}
#slider {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding: 1rem;
}
#about {
    margin: auto;
    text-align: center;
    display: flex;
    padding-right: 90px;
    width: 40%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
#about p {
    text-align: center;
    margin: auto;

}
#me {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 150px;
    max-width: 700px;
    border-radius: 0%;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    background-color: #000000;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

#cardSUM {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    background-color: #747474;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.card {
    margin: auto;
    position: relative;
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    background-color: #747474;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
#skillimg {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 200px;
    max-width: 20px;
    border-radius: 0%;
}
#skills {
    display: flex;
    margin-top: -60px;
    flex-direction: column;
    align-items: center;
}
#contact-info {
    flex-direction: column;
    text-align: center;
}
#links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#links ul {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

#slider .card {
    position: absolute;
}
  
#slider .card:first-child {
    z-index: 1;
}
  
#slider .card:nth-child(){
    z-index: 2;
}
  

.navigation-button {
    text-align: center;
    position: relative;
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 120px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.active,
.dot:hover {
    background-color: #717171;
}
h4 {
    text-align: center;
}

#insta {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 100px;
    max-width: 120px;
    border-radius: 0%;
}

#port {
    display: block;
    object-fit: cover;
    margin-top: 24px;
    width: 100%;
    height: 100%;
    max-height:50px;
    max-width: 100px;
    border-radius: 0%;
}