
header {
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
}
header img {
    display: block;
    object-fit: cover;
    object-position: center 50%;
    border-radius: 0%;
    width: 100%;
    height: 30vh;
    max-height: 280px;
}
header h1 {
    margin: auto;
    font-size: 1.5rem;
    color: #343a40;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
h2 {
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 1.25rem;
    color: #343a40;
    margin-bottom: 0.5rem;
}
#container {
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    background-color: #ffffff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#contact-info {
    flex-direction: column;
    text-align: center;
}
#links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h4 {
    text-align: center;
    margin-bottom: 0.5rem;
}